// ---Dependencies
import React from "react";
// ---Styles
import style from './{{pascalCase name}}.module.scss';

/**
 * {{pascalCase name}} Component:  Descripción del comportamiento...
 */
export function {{pascalCase name}}() {
  // -----------------------CONSTS, HOOKS, STATES
  // -----------------------MAIN METHODS
  // -----------------------AUX METHODS
  // -----------------------RENDER
  return (
    <div className={style['{{pascalCase name}}'] }>
     {{pascalCase name}}
    </div>
  );
}